/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset completed.
   Stylesheet starts here */


h1 {
    font-size : 48px;
    padding-bottom: 30px;
    }   
h2 {
    font-size : 36px;
    padding-bottom: 25px;
}   
h3 {
    font-size : 30px;
    padding-bottom: 20px;
}   
h4 {
    font-size : 20px;
    padding-bottom: 15px;
}   
body {
    padding-inline: 50px;
    word-spacing: 5px;
    padding-block-start: 20px;
}
.index-body{
    background-color:rgba(255, 0, 0, 0.5) ;
}
.about-body{
    background-color: rgba(0, 255, 0, 0.5);
}
.contact-body{
    background-color:rgba(0, 0, 255, 0.5) ;
    
}
.services-body{
    background-color: rgba(100, 100, 100, 0.5);
}
p {
    font-size: 18px;
    padding-block-start: 20px;
    
}
article {
    padding-bottom: 40px;
}
header{
    padding-bottom: 50px;
}